# Local Environment Configuration files
.env
.env.local
.env.*.local

# Virtual environments
venv/
.venv/
env/
ENV/
*/venv/
*/.venv/

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Databases
*.db
*.db-journal
*.sqlite3
*.sqlite

# IDE and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Log files
*.log

